footer {
    margin: 0 auto;
    max-width: 90%;
    padding: 25px 0;
    
    @media screen and #{$brk-narrow} {
    padding-bottom: 80px;
    display: flex;
    }
}

footer h1 {
    font-size: 1em;
}

footer a {
    @include text(1em, $weight: 700, $color: $color-prim);
}

.footer {
    
    &-name {
        display: inline-block;
        color: $color-prim;
    }

    &-top {
        display: inline-block;
        float: right;
        
        @media screen and #{$brk-narrow} {
        display: none;
    }
}

    &-nav {
        display: none;
        
        @media screen and #{$brk-narrow} {
        display: flex;
        margin-left: auto;
        }
    } 
}

.footer-nav li {
        @media screen and #{$brk-narrow} {
        font-size: 1em;
        display: inline-block;
        padding-left: 25px; 
    }
}